<div class="div-principal">
    <div class="div-titulo">
        <h1 id="Titulo">Sua Biblioteca</h1>
    </div>
    <div class ="div-form-biblioteca">
        <form class = "form-biblioteca">
            <div class="div-butao-biblioteca">
                <button class="butao-bibilioteca" href="#" type="button">
                <img class="imagem-biblioteca" src="../../../../public/favicon.ico">
                <h3 class="titulo-biblioteca">Titulo</h3>
                <h6 class="propriedades-biblioteca">Propriedades</h6>
                </button>
            </div>
            <div class="div-butao-biblioteca">
                <button class="butao-biblioteca" href="#" type="button">
                <img class="imagem-biblioteca" src="../../../../public/favicon.ico">
                <h3 class="titulo-biblioteca">Titulo</h3>
                <h6 class="propriedades-biblioteca">Propriedades</h6>
                </button>
            </div>
            <div class="div-butao-biblioteca">
                <button class="butao-biblioteca" href="#" type="button">
                <img class="imagem-biblioteca" src="../../../../public/favicon.ico">
                <h3 class="titulo-biblioteca">Titulo</h3>
                <h6 class="propriedades-biblioteca">Propriedades</h6>
                </button>
            </div>
            <div class ="div-butao-adicionar">
                <button id ="butao-adicionar-arista" href ="+" type="button">+</button>
                <label for="butao-adicionar-arista">Adicionar artista</label>
            </div>
            <div class ="div-butao-adicionar">
                <button id ="butao-adicionar-musica" href ="+" type="button">+</button>
                <label for="butao-adicionar-musica">Adicionar musica</label>
            </div>
        </form>
    </div>
</div>
