<div class="div-principal">
    <div class="div-titulo">
        <h1 id="Titulo">Sua Biblioteca</h1>
    </div>
        <main class = "form-biblioteca">
            <app-biblioteca-card></app-biblioteca-card>
            <div class ="div-butao-adicionar">
                <button id ="butao-adicionar-arista" href ="+" type="button">+</button>
                <label for="butao-adicionar-arista">Adicionar artista</label>
            </div>
            <div class ="div-butao-adicionar">
                <button id ="butao-adicionar-musica" href ="+" type="button">+</button>
                <label for="butao-adicionar-musica">Adicionar musica</label>
            </div>
        </main>
    </div>
