<div class="div-principal">
    <div class="div-titulo">
        <h1 id="Titulo">Sua Biblioteca</h1>
    </div>
    <div class ="div-form-biblioteca">
        <main class = "form-biblioteca">
            <app-biblioteca-card></app-biblioteca-card>
            <article class="art-butao-biblioteca">
                <button class="butao-biblioteca" href="#" type="button">
                <img class="imagem-biblioteca" src="../../../../public/favicon.ico">
                <div class="div-titulo-propriedades">
                <h3 class="titulo-biblioteca">Titulo</h3>
                <h5 class="propriedades-biblioteca">Propriedades</h5>
                </div>
                </button>
            </article>
            <article class="art-butao-biblioteca">
                <button class="butao-biblioteca" href="#" type="button">
                <img class="imagem-biblioteca" src="../../../../public/favicon.ico">
                <h3 class="titulo-biblioteca">Titulo</h3>
                <h5 class="propriedades-biblioteca">Propriedades</h5>
                </button>
            </article>
            <div class ="div-butao-adicionar">
                <button id ="butao-adicionar-arista" href ="+" type="button">+</button>
                <label for="butao-adicionar-arista">Adicionar artista</label>
            </div>
            <div class ="div-butao-adicionar">
                <button id ="butao-adicionar-musica" href ="+" type="button">+</button>
                <label for="butao-adicionar-musica">Adicionar musica</label>
            </div>
        </main>
    </div>
</div>
