.div-principal {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.form-biblioteca {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2.5vh;
    gap: 0.3vh;
}

.div-butao-adicionar {
    display: flex;
    padding: 0.5vh;
    font-size: 1.8vh;
    align-items: center;
}

.div-butao-adicionar button {
    height: 5vh;
    width: 5vh;
    background-color: rgba(253, 248, 247, 0.925);
    border-radius: 10cap;
    border: none;
    margin-right: 1vh;
    align-items: center;
    font-size: 4vh;
    font-weight: 30;
}
.texto-adicionar
{
    color: white;
}

.spotifei-header {
    background-color: #000000;
    border-bottom: 1px solid #222;
  }


  .spotifei-nav {
    margin-right: auto;
    margin-left: 50px; 
  }

  .spotifei-link {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
  }

  .spotifei-link:hover {
    color: #1DB954;
  }

  .spotifei-btn {
    background-color: #1DB954;
    border: none;
    font-weight: 600;
    color: #fff;
    padding: 6px 18px;
    border-radius: 25px;
  }

  .spotifei-btn:hover {
    background-color: #17a84a;
  }

  .biblioteca-header {
    width: 100%;
    padding: 25px 40px;

    background: linear-gradient(135deg, #1DB954, #15873b);
    border-radius: 12px;

    display: flex;
    align-items: center;
}

.biblioteca-header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.5px;
}