<article class="art-butao-biblioteca">
  <button class="butao-biblioteca" type="button">
    
    <img class="imagem-biblioteca" src="assets/images/spotifei.png" alt="Imagem">

    <div class="div-titulo-propriedades">
      <p class="info-id">ID: {{ musica.id }}</p>
      <h3 class="titulo-biblioteca">{{ musica.descricao }}</h3>
      
      <!--<p class="data-pub">📅 Publicado em: {{ musica.datapublicacao }}</p>

      <h5 class="propriedades-biblioteca">🎵 Playlist: {{ musica.playlistid }}</h5>!-->
    </div>

  </button>
</article>